.register-form {
    border-style: solid;
    border-width: 5px;
    border-color: lightsteelblue;
    border-radius: 50px;
    box-shadow: 10px 15px lightsteelblue;
    margin-top: 5px;
    max-width: 500px;
}

.register-form h1 {
    text-align: center;
}

.form-button-register {
    text-align: center;
}

.form-button-register button {
    width: 300px;
}

.register-form .error {
    margin: 10px;
    text-align: center;
    color: black;
    background-color: red;
}

.login-link {
    text-align: center;
}

.login-link a {
    font-size: 20px;
}

.register-form-applicant {
    border-style: solid;
    border-width: 5px;
    border-color: #504a4b;
    border-radius: 50px;
    box-shadow: 10px 15px #504a4b;
    margin-top: 5px;
    max-width: 500px;
}

.register-form-applicant h1 {
    text-align: center;
}

.register-form-applicant .error {
    margin: 10px;
    text-align: center;
    color: black;
    background-color: red;
}

@media screen and (max-width: 400px) {
    .form-button-register button {
        width: 100px;
    }
    .register-form h1 {
        font-size: 30px;
        text-align: center;
    }
}
